<!DOCTYPE html>
<html>

<head>
    <title id='title'>PRODUCTION - Cryptocurrency Data Chart</title>
    <!-- papaparse v5.3.1 -->
    <script src="libraries/papaparse.js"></script>
    <!-- plotly.js v1.58.5 -->
    <script src="libraries/plotly.js"></script>
    <!-- brotli.js v1.58.5 v1.0.2 -->
    <script src="libraries/brotli.js"></script>
</head>

<body style="background-color:pink"></body>
<!-- Include the external JavaScript file -->
<script src="binance_sim.js"></script>
<script>
</script>
</body>

</html>