:80 {
    root * /home/g1pablo_escaida1/CRYPTO-Trader/src/view

    # Serve only .txt.br and .js.br files specifically
    @compressedFiles {
        path_regexp compressedFiles \.(txt|js)\.br$
    }

    # Serve the matched files
    file_server @compressedFiles

    # Serve all other files and enable directory listing
    file_server browse
}
