
:80 {
	# Set this path to your site's directory.
	root * /usr/share/caddy

	# Enable the static file server.
	file_server {
		precompressed br gzip
	}

    # Ensure proper headers are set.
    header {
        Vary Accept-Encoding
    }

    # Serve .js.br files explicitly with proper Content-Encoding.
    @brotli_js {
        path *.js.br
    }
    rewrite @brotli_js {path}.br
    header @brotli_js {
        Content-Encoding br
        Content-Type application/javascript
    }

}

# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile