[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.10"  # Change this if using a different version

[packages]
websocket-client = "*"
websockets = "*"
python-binance = "*"
binance = "*"
pandas = "*"
tqdm = "*"
bybit = "*"
json5 = "*"
brotli = "*"
urllib3 = "*"
six = "*"
bravado = "*"
bravado-core = "*"

[dev-packages]

[settings]
break-system-packages = true
